@model ECommerceApp.Models.Product

<form action="" method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Buat Product Baru</h2>
        <hr>
        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="Price"></label>
            <input type="number" asp-for="Price" class="form-control">
            <span asp-validation-for="Price"></span>
        </div>
        <div class="mb-3">
            <label asp-for="CategoryId"></label>
            <select asp-for="CategoryId" asp-items="ViewBag.CategoryList" class="form-select">
                <option disabled selected>== Pilih Kategori ==</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Simpan</button>
            <a asp-action="Index" class="btn btn-secondary">Kembali</a>
        </div>
    </div>
</form>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}