@model IEnumerable<ECommerceApp.Models.Product>

@{
    ViewData["Title"] = "Beranda";
}

<div class="container pb-3">
    <div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-6 mb-4">
                <div class="card border-0 shadow rounded h-100">
                    <div class="card-body pb-0">
                        <div class="pl-1">
                            <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Name</p>
                            <p class="card-title text-warning text-center"><b>@product.Category.Name</b></p>
                        </div>
                        <div class="pl-1">
                            <p class="text-dark text-opacity-75 text-center mb-0">
                                <span>Harga: Rp @product.Price.ToString("N0")</span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <a asp-action="Details" asp-route-id="@product.Id"
                               class="btn btn-primary bg-gradient border-0 form-control rounded-0">
                            Lihat Detail
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>